/* Generic */
body {
    font-family: 'Inter', sans-serif;
}

section {
    padding-top: 1rem;
}

h2 {
    text-align: center;
    padding-bottom: 3rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -.08em;
    font-size: calc(2rem + .9vw);
}

h3 {
    font-weight: 300;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.disp-inline {
    display: inline;
}

.main-wrapper {
    max-width: 100%;
    margin: 0 auto;
    width: 1048px;
    padding: 0 24px;
}

.highlight-text {
    color: #007cf0;
    font-weight: 500;
}

.send-back {
    z-index: 0;
}

.turned-off {
    cursor: not-allowed !important;
}

.gradient-text {}

.btn {
    border: 2px solid transparent;
}

/* Loading */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 102;
}

.back {
    background-color: #52c4c7;
}

.mid {
    background-color: #489cc2;
}

.front {
    background-color: #3e76bb;
}

/* Navbar */
ul#menu li {
    display: flex;
    font-weight: 300;
    font-size: 0.875rem;
    color: rgb(0, 0, 0) !important;
    opacity: 0.75;
    padding: 0.5rem 0 0.5rem 26px;
    transition: opacity 0.3s ease;
}

ul#menu li:hover {
    opacity: 1;
}

ul#menu {
    direction: rtl;
    margin: 0;
    padding: 0;
}

.background {
    height: 200vh;
    background: linear-gradient(#e66465, #9198e5);
}

.navbar {
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: fixed;
    top: 0;
    max-height: 64px;
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    z-index: 101;
    transition: max-height 0.25s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.navbar-scrolled {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.nav-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1048px;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    align-items: initial;
}

.nav-first {
    flex: 1 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    color: rgba(0, 0, 0, 0.9) !important;
}

.nav-first div {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-second {
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-collapsed {
    max-height: 169px;
}

.menu-links {
    cursor: pointer;
}


/* Hamburger */
.hamburger {
    display: flex;
    float: left;
}

.container-fluid {
    padding: 0 15%;
    display: flex;
}


/* Introduction Section */
#introduction {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.title-text {
    /* font-size: calc(5rem + 5vw); */
    line-height: 1;
    font-weight: 800;
    letter-spacing: -.08em;
    background: -webkit-linear-gradient(180deg, #00dfd8, #007cf0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.intro-text {
    margin-top: 8.5vh;
    margin-bottom: 8.5vh;
    font-size: calc(1.3rem + .2vw);
}

.intro-btn {
    border: none;
    background-color: #007cf0;
}

.intro-btn:hover {
    background-color: #0258a8;
}


/* Work */
#work {}

.card {
    /* background: linear-gradient(to right bottom, #071931 0%, #33274f 50%, #661e43 100%); */
    background-color: white;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 25px 15px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 25px 15px rgba(0, 0, 0, .1);
    border: 1px solid transparent;
    margin-bottom: 4rem;
    transition: transform 1s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 3rem;
}

.card-title {
    margin: 1rem 0;
    font-weight: 700;
    font-size: 2rem;
}

.card-subtitle {
    font-size: .75rem;
    margin-bottom: 2rem;
}

.card-text {
    font-weight: 600;
    margin-bottom: 2rem;
}

.card-image {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 0 3rem 0 0;
}

/* Cazna card */
.cazna-card {
    background-color: #015a2d;
    color: #fff;
}

.cazna-btn {
    color: #fff;
    border-color: #fff;
}

.cazna-btn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #015a2d;
}


/* The Carbon Quiz card */
.carbon-quiz-card {
    background-color: #76bc74;
    color: #112c10;
}

.carbon-quiz-btn {
    color: #112c10;
    border-color: #112c10;
}

.carbon-quiz-btn:hover {
    background-color: #112c10;
    border-color: #112c10;
    color: #fff;
}

/* Sleep Orbit card */
.sleep-orbit-card {
    background-color: #a2b5ee;
    color: #121c38;
}

.sleep-orbit-btn {
    color: #121c38;
    border-color: #121c38;
}

.sleep-orbit-btn:hover {
    background-color: #121c38;
    border-color: #121c38;
    color: #fff;
}

/* Global Causes of Death card*/
.global-death-card {
    background-color: #a79fe0;
    color: #0f0b2e;
}

.global-death-btn {
    color: #0f0b2e;
    border-color: #0f0b2e;
}

.global-death-btn:hover {
    background-color: #0f0b2e;
    border-color: #0f0b2e;
    color: #fff;
}

/* Olympics vis */
.olympics-vis-card {
    background-color: #d1d1d1;
    color: #464646;
}

.olympics-vis-btn {
    color: #464646;
    border-color: #464646;
}

.olympics-vis-btn:hover {
    background-color: #464646;
    border-color: #464646;
    color: #fff;
}

/* Domestic violence vis */
.domestic-violence-vis-card {
    background-color: #b5beea;
    color: #17215e;
}

.domestic-violence-vis-btn {
    color: #17215e;
    border-color: #17215e;
}

.domestic-violence-vis-btn:hover {
    background-color: #17215e;
    border-color: #17215e;
    color: #fff;
}

/* Museum */
.museum-card {
    background-color: #e4e26f;
    color: #27270d;
}

.museum-btn {
    color: #27270d;
    border-color: #27270d;
}

.museum-btn:hover {
    background-color: #27270d;
    border-color: #27270d;
    color: #fff;
}

/* Kymriah card */
.kymriah-card {
    background-color: #d4bdac;
    color: #201c19;
}

.kymriah-btn {
    color: #201c19;
    border-color: #201c19;
}

.kymriah-btn:hover {
    background-color: #201c19;
    border-color: #201c19;
    color: #fff;
}

/* Web Dev Card */
.web-dev-card {
    background-color: #ca6868;
    color: #310e0e;
}

.web-dev-btn {
    color: #310e0e;
    border-color: #310e0e;
}

.web-dev-btn:hover {
    background-color: #310e0e;
    border-color: #310e0e;
    color: #fff;
}

/* about */
#about {
    margin-bottom: 4rem;
}

#about p{
    text-align: center;
    margin-bottom: 2rem;
}

/* contact */
#contact {
    /* height: 100vh; */
}

.contact-row {
    border-top: 1px solid #000000;
    margin-bottom: 2rem;
}

.contact-col {
    padding: 0;
}

.contact-col-right {
    text-align: right;
}


/* Footer */
#footer {
    background-color: #fafafa;
    text-align: center;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: #666;
    line-height: 1;
    margin-top: 4rem;
}


/* Hamburger Button*/
.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}


/* Responsiveness */

@media (max-height: 360px) {
    #introduction .intro-btn {
        display: none;
    }
}


@media (max-height: 475px) {
    #introduction {
        padding-top: 66px;
        padding-bottom: 33px;
    }

    .intro-text {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .contact-col-right {
        text-align: left;
    }
}

@media (max-width: 768px) {
    .contact-col-linkedin {
        text-align: left;
    }
}

/* Above 951px */
@media (min-width: 951px) {
    .hamburger {
        display: none;
    }

    .nav-third {
        display: flex;
    }

    ul#menu li {
        display: inline;
    }

    .nav-content-container {
        flex-direction: row;
        align-items: center;
    }

    .navbar {
        height: 64px;
    }
}

@media (max-width: 767px) {

    .card-image {
        padding: 0 1rem 1rem;
    }

    .card-body {
        padding: 1rem;
    }
}

/* 
@media (max-width: 640px) {
    .container-fluid {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media (min-width: 768px) {
    .title-text {
        margin: 5rem 0 2rem;
    }
}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

} */

/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
    .container-fluid {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
    .title-text {
        margin: 5rem 0 2rem;
    }
} */

/* @media (width: 812px) {

    .container-fluid {
        padding-left: 4%;
        padding-right: 4%;
    }

    .title-text {
        margin: 5rem 0 2rem;
    }
}

@media (width: 375px) {

    .container-fluid {
        padding-left: 7%;
        padding-right: 7%;
    }
} */