body {
    font-family: 'Inter', sans-serif;
}

h3 {
    font-weight: 300;
}

p {
    margin: 0;
}

.highlight-text {
    color: #007cf0;
    font-weight: 500;
}

.send-back {
    z-index: 0;
}

/* Loading */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.back {
    background-color: #52c4c7;
}

.mid {
    background-color: #489cc2;
}

.front {
    background-color: #3e76bb;
}

/* Navbar */
.navbar {
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.3s ease;
}

.navbar-scrolled {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.nav-item {
    font-weight: 300;
    padding: 0 0 0 26px;
    font-size: 0.875rem;
}

.navbar-brand {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
}

.container-fluid {
    padding: 0 15%;
}


/* Introduction Section */
#introduction {
    padding: 8rem 0;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.title-text {
    font-size: 10rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -.08em;
    background: -webkit-linear-gradient(180deg, #00dfd8, #007cf0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text {
margin-top: 8rem;
}


/* Work */
#work {
    background-color: blueviolet;
}


/* Footer */
#footer {
    background-color: #fafafa;
    text-align: center;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: #666;
    line-height: 1;
}


/* Hamburger Button*/
.navbar-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}


/* Responsiveness */
/* 
@media (max-width: 640px) {
    .container-fluid {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media (min-width: 768px) {
    .title-text {
        margin: 5rem 0 2rem;
    }
}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

} */

/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
    .container-fluid {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
    .title-text {
        margin: 5rem 0 2rem;
    }
} */

/* @media (width: 812px) {

    .container-fluid {
        padding-left: 4%;
        padding-right: 4%;
    }

    .title-text {
        margin: 5rem 0 2rem;
    }
}

@media (width: 375px) {

    .container-fluid {
        padding-left: 7%;
        padding-right: 7%;
    }
} */